# OS X
.DS_Store

# vim
*.swp

# eclipse
.cache
.settings/
.project
.classpath

# idea
.idea
.idea_modules

# scala
target/
dist/
*.class

# Play!
RUNNING_PID
*.log
logs/

sbt-native-packager.jar
project/project/

/.target
/bin

.cache-main
.cache-tests